**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/.pytest_cache
**/.coverage
**/htmlcov
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/ENV
**/.env
**/.env.local
**/db.sqlite3
**/logs/*.log
**/*.md
!README.md
**/tests
**/Dockerfile
**/docker-compose.yml
**/.dockerignore